<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}" />

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.all.min.js"></script>

</head>

<body>
<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
<div class="sidebar">
    <div class="logo-details">
        <i> <img src="{{url_for('static', filename='icon3.png')}}" class="icon" width="60%" height="60%" style="margin-top: .8%; margin-left: 20%"></i>
        <i class='bx bx-menu' id="btn" ></i>
    </div>

    <ul class="nav-list">
        <li>
            <a href="{{url_for('dashboard')}}">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="links_name">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>

        <li>
            <a href="{{url_for('home')}}">
                <i class="fa fa-list-alt" aria-hidden="true"></i>
                <span class="links_name"> Patient Information</span></a>
            </a>
            <span class="tooltip"> Patient Information</span>
        </li>

        <li>
            <a href="{{url_for('Monitoring')}}">
                <i class="fa fa-address-book" aria-hidden="true"></i>
                <span class="links_name"> Monitoring Record</span></a>
            </a>
            <span class="tooltip">Monitoring Record</span>
        </li>

        <li>
            <a href="{{url_for('Swab')}}">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                <span class="links_name">Swab test schedule</span></a>
            </a>
            <span class="tooltip">Swab test schedule</span>
        </li>

        <li>
            <a href="{{url_for('Positive')}}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span class="links_name">Active</span></a>
            </a>
            <span class="tooltip">Active</span>
        </li>

        <li>
            <a href="{{url_for('Recovered')}}">
                <i class="fa fa-medkit" aria-hidden="true"></i>
                <span class="links_name">Recovered</span></a>
            </a>
            <span class="tooltip">Recovered</span>
        </li>

        <li>
            <a href="{{url_for('Deceased')}}">
                <i class="fa fa-times" aria-hidden="true"></i>
                <span class="links_name"> Deceased</span></a>
       </a>
            <span class="tooltip">Deceased</span>
        </li>
        <li>
            <a href="{{url_for('CloseContact')}}">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>

                <span class="links_name">Close Contact</span></a>
       </a>
            <span class="tooltip">Close Contact</span>
        </li>
         <li>
            <a href="{{url_for('Probable')}}">

             <i class="fa fa-search-plus" aria-hidden="true"></i>
                <span class="links_name">Probable</span></a>
       </a>
            <span class="tooltip">Probable</span>
        </li>
         <li>
            <a href="{{url_for('Suspected')}}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>

                <span class="links_name">Suspected</span></a>
       </a>
            <span class="tooltip">Suspected</span>
        </li>



       <li class="profile">

         <a onclick="click1()">
             <i  class="click123 fa fa-sign-out" aria-hidden="true" aria-hidden="true"></i>
             <span  class="links_name">Logout</span>
         </a>
           <span class="tooltip">Logout</span>

       </li>
    </ul>
</div>

<div class="popup_box">

    <i class="fa fa-sign-out" aria-hidden="true"></i>
      <h1>Are you sure you want to logout?</h1>
      <div class="btns">
        <a href="{{url_for('logout')}}" class="btn1">Yes</a>
        <a href="#" class="btn2">No</a>
      </div>
    </div>
<div class="home-section">
    <div class="text">{% block content %} {% endblock %}</div>
</div>

<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    searchBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();
    });

    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        }else{
            closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
        }
    }
</script>

<script>
    function click1(){
   Swal.fire({
  title: 'Are you sure you want to logout?',
  icon: 'warning',
       customClass: 'swal-wide',
  showCancelButton: true,
confirmButtonColor: '#8CD4F5',
  cancelButtonColor: '#d33',
  confirmButtonText:`<a href="{{url_for('logout')}}">Yes</a>`,
       cancelButtonText:'No'
})
    }

</script>
</body>
</html>
